<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{frontend/layouts/baseSidemenu :: baseSidemenu(~{this::content})}">
    <th:block th:fragment="content">

        <!-- 내용 -->
        <div class="my_page_h_wrap" style="margin-top:20px;">
            <div class="item flex_end item_date_listwrap" style="margin-bottom:20px;">
                <span><button id="todayBtn" class="grey_btn dateBtn" th:value="today">오늘</button></span>
                <span><button id="oneWeekBtn" class="grey_btn dateBtn" th:value="oneWeek">일주일</button></span>
                <span><button id="oneMonthBtn" class="grey_btn dateBtn" th:value="oneMonth">한달</button></span>
                <input type="date" id="startDate"
                       th:value="${bookPageResponseDTO.pageRequestDTO.startDate}"/>
                <input type="date" id="endDate"
                       th:value="${bookPageResponseDTO.pageRequestDTO.endDate}"/>
                <button class="black_btn" type="button" id="dateSelectedBtn">조회</button>
            </div>
            <div class="flex_between">
                <div style="transform: translateY(10px);">
                    <span><a th:href="@{/myPage/bookOrderList}">도서주문</a></span>
                    <span><a class="smaller" th:href="@{/myPage/membershipOrderList}">구독주문</a></span>
                </div>
                <div class="top_search_area">
                    <input type="text" id="keyword" placeholder="도서명을 입력해주세요." />
                    <button class="blackfl_btn btn_padding" id="searchBtn">검색</button>
                </div>
            </div>
        </div>
        <div class="mycart_table_wrap">

        </div>
        <div class="paging_wrap">

        </div>

        <!-- 추천 도서 리스트 -->
        <div class="mypage_re_bookList last-section">
            <div class="mypage_re_bookList_h2">
                <h2>1984에서 추천하는 인기도서를 둘러보세요!</h2>
            </div>
            <div class="mypage_re_List">
                <ul class="flex_start">
                    <!-- 아이템 -->
                    <li>
                        <div class="mpre_img_wrap"
                             style="background-image: url('https://image.yes24.com/goods/117014616/XL')"></div>
                        <p>호랑나비</p>
                        <span>
                                        <span>이제하</span>
                                        지음 /
                                        <span>샘터사</span>
                                    </span>
                    </li>
                    <!-- 아이템 -->
                    <li>
                        <div class="mpre_img_wrap"
                             style="background-image: url('https://image.yes24.com/goods/117014610/XL')"></div>
                        <p>호랑나비</p>
                        <span>
                                        <span>이제하</span>
                                        지음 /
                                        <span>샘터사</span>
                                    </span>
                    </li>
                    <!-- 아이템 -->
                    <li>
                        <div class="mpre_img_wrap"
                             style="background-image: url('https://image.yes24.com/goods/117014620/XL')"></div>
                        <p>호랑나비</p>
                        <span>
                                        <span>이제하</span>
                                        지음 /
                                        <span>샘터사</span>
                                    </span>
                    </li>
                    <!-- 아이템 -->
                    <li>
                        <div class="mpre_img_wrap"
                             style="background-image: url('https://image.yes24.com/goods/117014622/XL')"></div>
                        <p>호랑나비</p>
                        <span>
                                        <span>이제하</span>
                                        지음 /
                                        <span>샘터사</span>
                                    </span>
                    </li>
                </ul>
            </div>
        </div>
        </div>

    </th:block>
</th:block>

<script th:inline="javascript">
    $(document).ready(function () {
        let content = $(".mycart_table_wrap");
        let paginationDiv = $(".paging_wrap");
        let currPage = 1;
        let datePeriodSelected = '';
        let startDateSelected = '';
        let endDateSelected = '';

        getList(1);
        // 목록 요청 함수 - 문서가 로딩되자마자 한번 실행되고, pageNum 누를때마다, 필터링을 할때마다 요청돼야함
        function getList(page) { // page = 요청된 페이지 번호
            console.log("getList 실행")
            currPage = page;
            console.log(page);
            startDateSelected = $("#startDate").val();
            endDateSelected = $("#endDate").val();
            let keyword = $("#keyword").val();
            $.ajax({
                type: "GET",
                url: "/myPage/bookOrderList/ajax",
                data: {
                    page: currPage,
                    keyword: keyword,
                    searchType: "bookTitle",
                    datePeriod: datePeriodSelected,
                    startDate: startDateSelected,
                    endDate: endDateSelected
                },
                success: function(response){
                    console.log(response);
                    printList(response);
                    printPagination(response);
                },
                error: function(e){
                    console.error("요청 실패");
                    console.log(e);
                }
            });
        }

        // 목록 출력 함수
        function printList(response) {
            let html = '';
            html += '<table class="mycart_table">';
            html += '<tr class="myTable_th_body"><th>도서명(저자/출판사)</th><th>구매일자</th><th>주문번호</th><th>서점명</th><th>주문금액</th><th>리뷰</th> </tr>';
            $.each(response.orderList, function (index, order) {
                html += '<tr class="myTable_td_body"><td class="flex_start"><div class="cart_img_body_2"><img src="/images/' + order.bookImgStored + '" alt="" /></div>';
                html += '<div class="cart_img_table"><p>' + order.bookTitle + '</p><span><span>' + order.bookWriter + '</span> / <span>' + order.bookPub + '</span></span></div></td>';
                html += '<td>' + order.createDate + '</td>';
                html += '<td><a href="/myPage/bookOrderDetail/' + order.orderBookId + '">' + order.orderBookId + '</a></td>';
                html += '<td>' + order.bookPub + '</td>';
                html += '<td>' + order.bookEbookPrice + '</td>';
                html += '<td><button class="greyLine_btn deleteButton" data-bookId="' + order.bookId + '">리뷰작성</button></td></tr>';
            });
            html += '</table>';
            content.html(html);
            $('#keyword').val(response.pageRequestDTO.keyword);
            $('#startDate').val(response.pageRequestDTO.startDate);
            $('#endDate').val(response.pageRequestDTO.endDate);
        };

        // 페이지네이션 출력
        function printPagination(response) {
            let html = '';
            html += '<div class="paging_bar"><ul style="padding-top:30px;">';
            if (response.prev) {
                html += '<li>';
            } else {
                html += '<li class="disabled">';
            }
            html += '<a class="pageLink" style="margin:2px;" href="' + (response.startPage - 1) + '">Prev</a></li>';
            response.pageNumList.forEach(function (pageNum, i) {
                if (pageNum == currPage) {
                    html += '<li class="active">';
                } else {
                    html += '<li>';
                }
                html += ' <a class="pageLink" style="margin:2px;" href="' + pageNum + '">' + pageNum + '</a></li>';
            })
            if (response.next) {
                html += '<li>';
            } else {
                html += '<li class="disabled">';
            }
            html += '<a class="pageLink" style="margin:2px;" href="' + (response.endPage + 1) + '">Next</a></li></ul></div>';

            paginationDiv.html(html);
        };

        // 댓글 페이지 번호 클릭 이벤트 등록
        paginationDiv.on("click", "a.pageLink", function (e) {
            console.log("페이지번호 클릭");
            e.preventDefault(); // a 태그의 기본 이벤트는 취소
            let pageNum = $(this).attr("href");
            console.log("pageNum : " + pageNum);
            getList(pageNum);
        });

        // 오늘, 일주일, 한달 버튼 클릭시
        $(".dateBtn").on("click", function (e) {
            console.log("datePeriod 클릭")
            if (valueCheck()) {
                datePeriodSelected = $(this).val();
                console.log(datePeriodSelected);
                getList(1);
            }
        });

        // 달력 조회버튼 클릭시
        $("#dateSelectedBtn").on("click", function (e) {
            console.log('달력 조회 클릭')
            if(valueCheck()){
                datePeriodSelected = null;
                getList(1);
            }
        });

        // 키워드 검색 버튼 클릭시
        $("#searchBtn").on("click", function (e) {
            if(valueCheck()) {
                getList(1);
            }
        });

        function valueCheck() {
            let keywordValue = $("#keyword").val().trim();
            let startValue = $("#startDate").val();
            let endValue = $("#endDate").val();
            if (keywordValue === ''  && startValue === '' && endValue === '') {
                return true;
            }
            else if (keywordValue !== '' && startValue !== '' && endValue !== '') {
                return true;
            }
            else if (keywordValue.length !== 0) {
                if (startValue === '' && endValue === '') {
                    return true;
                }
                else if (startValue === '' || endValue === '') {
                    return alert("조회 시작일과 종료일을 모두 입력해주세요.");
                }
            }
            else if (startValue === '' || endValue === '') {
                return alert("조회 시작일과 종료일을 모두 입력해주세요.");
            }
            return true;
        }



    });
</script>
</html>