<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
  <th:block th:fragment="content">
    <div class="search_bar_wrap">
      <div class="search_date_wrap">
        <div class="item">
          <h2>상품관리</h2>
        </div>
        <div class="item">
          <button type="button" class="grey_btn">오늘</button>
          <button type="button" class="grey_btn">일주일</button>
          <button type="button" class="grey_btn">한달</button>
          <input type="date" />
          <input type="date" />
          <button type="button" class="black_btn">조회</button>
        </div>
      </div>
      <hr />
      <div class="search_text_wrap">
        <div class="item">
          <select name="" id="">
            <option value="">전체</option>
            <option value="">인문</option>
            <option value="">문학</option>
            <option value="">경제</option>
            <option value="">만화</option>
          </select>
          <input type="text" />
          <button type="button" class="black_btn">검색</button>
        </div>
        <div class="item">
          <select name="" id="">
            <option value="">최신순</option>
            <option value="">이전순</option>
          </select>
          <button type="button" class="black_btn" onclick="bookCategory()">카테고리관리</button>
          <button type="button" class="black_btn" onclick="bookAdd()">추가</button>
        </div>
      </div>
      <div class="list_table_wrap">
        <table class="list_table">
          <tr>
            <th>NO</th>
            <th>카테고리</th>
            <th>도서명</th>
            <th>ISBN</th>
            <th>판매가</th>
            <th>서점명</th>
            <th>저자</th>
            <th>출판사</th>
            <th>수정일</th>
            <th>등록일</th>
          </tr>
          <tr th:each="bookCategory : ${list}">
              <td th:text="${book}">9999</td>
              <td>인문</td>
              <td>호랑나비</td>
              <td>111122223333</td>
              <td>15,000원</td>
              <td>빵빵이와 친구들</td>
              <td>이주용</td>
              <td>한빛미디어</td>
              <td>2024-03-25</td>
              <td>2024-04-25</td>
          </tr>
        </table>
      </div>
    </div>
  </th:block>
</th:block>
<script>
  `const bookCategory = () => {
      location.href = "/cms/bookCategory"
  }`
  const bookAdd = () => {
      location.href = "/cms/book/add"
  }
</script>
</body>
</html>