<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Store login</title>
    <link rel="stylesheet" href="/css/style_reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<section class="page_wrap">
    <div class="login_form item">
        <a href=""><h1 class="main_logo"><</h1></a>
        <form action="" th:action="@{/cms/login}" th:object="${storeLoginForm}" method="post">
            <div class="login_form_wrap">
                <p>
                    책은 문화의 <br />
                    뿌리이자 그 결과이다
                </p>
                <hr />
                <h2>관리자 로그인</h2>
                <div class="input_form">
                    <span>아이디</span>
                    <input type="text" placeholder="아이디를 입력해주세요." th:field="*{storeLoginId}"/>
                    <span></span>
                </div>
                <div class="input_form">
                    <span>비밀번호</span>
                    <input type="password" placeholder="비밀번호를 입력해주세요." th:field="*{storePassword}"/>
                    <span></span>
                </div>
                <div class="check_box">
                    <input id="auto_login" type="checkbox" />
                    <span>자동 로그인</span>
                </div>
                <button class="btn_login" type="submit">로그인</button>
                <a href="" class="link_signup">회원가입 하러가기</a>
                <span class="login_copyright">ⓒ 2024. 1984 All rights reserved.</span>
            </div>
        </form>
    </div>
    <div class="login_img item"></div>
</section>
</body>
</html>
