<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">
        <div class="search_bar_wrap">
            <div class="search_date_wrap">
                <div class="item">
                    <h2>회원관리</h2>
                </div>
                <div class="item">
                    <button class="grey_btn">오늘</button>
                    <button class="grey_btn">일주일</button>
                    <button class="grey_btn">한달</button>
                    <input type="date" />
                    <input type="date" />
                    <button class="black_btn">조회</button>
                </div>
            </div>
            <hr />
            <div class="search_text_wrap">
                <div class="item">
                    <select name="" id="">
                        <option value="">전체</option>
                        <option value="">No</option>
                        <option value="">회원ID</option>
                        <option value="">회원명</option>
                        <option value="">전화번호</option>
                        <option value="">이메일</option>
                        <option value="">주문수</option>
                        <option value="">구독수</option>
                        <option value="">상태</option>
                    </select>
                    <input type="text" />
                    <button class="black_btn">검색</button>
                </div>
                <div class="item">
                    <select name="" id="">
                        <option value="">최신순</option>
                        <option value="">이전순</option>
                    </select>
                </div>
            </div>
            <div class="list_table_wrap">
                <table class="list_table">
                    <thead>
                        <tr>
                            <th>NO</th>
                            <th>회원ID</th>
                            <th>회원명</th>
                            <th>전화번호</th>
                            <th>이메일</th>
                            <th>주문수</th>
                            <th>구독수</th>
                            <th>상태</th>
                            <th>가입일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${allMember}">
                            <td><a th:href="@{/cms/userDetail/{userNo}(userNo=${user.userNo})}" th:text="*{user.userNo}"></a></td>
                            <td><a th:href="@{/cms/userDetail/{userNo}(userNo=${user.userNo})}" th:text="*{user.userId}"></a></td>
                            <td th:text="*{user.userName}"></td>
                            <td th:text="*{user.userPhoneNum}"></td>
                            <td th:text="*{user.userEmail}"></td>
                            <td th:text="*{user.userNo}"></td>
                            <td th:text="*{user.userNo}"></td>
                            <td th:text="*{user.userStatus}"></td>
                            <td th:text="*{#temporals.format(user.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </th:block>
</th:block>
</body>
</html>