<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{frontend/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">
        <!-- PAGE -->

        <section class="section_wrap sec_01">
            <div class="section_wrap_body">
                <div class="about_text_wrap">
                    <h2>
                        책은 <br />
                        문화의 <br />
                        뿌리이자<br />
                        그<br />
                        결과이다
                    </h2>
                    <div class="about_text_line"></div>
                </div>
                <p class="about_text_p">1984는 출판 브랜드로 조지오웰의 소설 1984에서 영향을 받아 문화적 전체주의를 비판하고 나아가 문화의 자생을 위해 움직이겠다는 뜻을 이름에 담고 있습니다.</p>
                <div class="about_img_wrap">
                    <img src="https://contents-cdn.viewus.co.kr/image/2023/04/CP-2023-0042/image-7ec7f2bb-01d6-475a-bc77-7e1044bbccd2.jpeg" alt="" />
                </div>
            </div>
            <div class="section_wrap_body">
                <div class="about_text02_wrap">
                    <p>
                        Art // Music // Fashion // Life에 관련된 콘텐츠를 출판하는
                        <br />
                        독립적인 가치와 품질을 가진 국내 독립서점 및 도서를 소개하는 서비스입니다.
                    </p>
                </div>
            </div>
        </section>

        <!-- 구독시스탬 섹션 -->
        <section class="section_wrap">
            <div class="section_wrap_pagebody last-section">
                <div class="sec_h_wrap flex_between">
                    <h1 class="about-sec02-h1">
                        국내 최초 독립서점 <br />
                        구독 서비스 <span class="point_text">1984</span>
                    </h1>
                    <p class="about-sec02-p">
                        수도권에만 집중되어있는 다양한 개성을 가진 독립서점들을 언제 어디서나 전자책으로 만나볼 수 있습니다.
                        <br /><br />
                        서브컬처를 넘어 새로운 문화를 선도하고자 합니다.
                    </p>
                </div>
                <div class="main_cate_wrap">
                    <ul class="flex_between">
                        <li class="box_line">
                            <div
                                    class="cate_img_wrap"
                                    style="background-image: url('https://images.pexels.com/photos/373465/pexels-photo-373465.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')"
                            ></div>
                            <h3>국내 최초 독립서점 <br />구독 서비스 🔥</h3>
                            <hr />
                            <div class="cate_item">
                                <p>당신을 기다리는 700곳의 <br />다양한 개성을 가진 <br />독립서점을 구독해보세요.</p>
                            </div>
                        </li>
                        <li class="box_line">
                            <div
                                    class="cate_img_wrap"
                                    style="background-image: url('https://images.pexels.com/photos/196649/pexels-photo-196649.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')"
                            ></div>
                            <h3>원하는 기기로<br />자유롭게 감상🧑🏻‍💻</h3>
                            <hr />
                            <div class="cate_item">
                                <p>수도권에만 집중되어있는<br />독립서점들을 어디서나 <br />전자책으로 만나볼 수 있습니다.</p>
                            </div>
                        </li>
                        <li class="box_line">
                            <div
                                    class="cate_img_wrap"
                                    style="background-image: url('https://images.pexels.com/photos/2144299/pexels-photo-2144299.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')"
                            ></div>
                            <h3>첫 구독은 무료로 <br />무제한 열람가능 🚀</h3>
                            <hr />
                            <div class="cate_item">
                                <p>처음으로 구독하신<br />독립서점은 30일간 <br />무제한으로 이용이 가능합니다.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- 소개글 -->
        <section class="section_wrap">
            <div class="section_wrap_pagebody flex_between last-section">
                <div class="about_last_wrap">
                    <img src="https://contents-cdn.viewus.co.kr/image/2023/04/CP-2023-0042/image-4ac16056-2fa7-4cf9-877b-8a4a75de97f7.jpeg" alt="" />
                </div>
                <div class="about_lasttext_wrap">
                    <p>
                        당신을 기다리는 700곳의 <br />
                        <span class="point_text">독립서점</span>을 만나보세요
                    </p>
                    <p>
                        모든 이들에게 책과 함께하는
                        <br />
                        삶을 새로운 라이프 스타일로
                        <br />
                        제시하고자 합니다.
                    </p>
                </div>
            </div>
        </section>

        <!-- PAGE -->
    </th:block>
</th:block>
<script></script>
</html>