<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{frontend/layouts/baseView :: baseView(~{this::content})}">
    <th:block th:fragment="content">

        <!-- PAGE -->
        <section class="section_wrap sec_view_01" />
            <iframe id="my-pdf"
                    style="width:100%; height:calc(100vh - 60px);"
                    th:src="@{'/pdf/' + ${book.bookFileStored}}">
            </iframe>
        </section>
        <div class="book_view_mark">1984 전자책 뷰어</div>


        <!-- PAGE -->

    </th:block>
</th:block>
<script>
<!--    $(document).ready(function (){-->
<!--        let fileName = $("#bookName").val();-->
<!--        let fileLink = "/images/" + fileName;-->
<!--        console.log(fileLink);-->
<!--        PDFObject.embed(fileLink, "#my-pdf");-->
<!--    });-->
</script>
</html>