<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{frontend/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">
        <!-- PAGE -->
        <section class="section_wrap sec_01">
            <div class="st_search_bar">
                <div class="search_bar_body">
                    <div>
                        <button class="blackfl_btn">전체</button>
                        <button class="blackLine_btn">국내도서</button>
                        <button class="blackLine_btn">인문</button>
                    </div>
                    <div class="top_search_area">
                        <input type="text" placeholder="검색어를 입력해주세요." />
                        <button class="blackfl_btn">검색</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="section_wrap">
            <div class="section_wrap_pagebody list_body">
                <div class="sec_h_wrap">
                    <h2>1984에서만 확인가능한 도서목록을 확인해보세요.</h2>
                </div>
                <div class="item_list_wrap" id="item_list">
                    <ul class="flex_start flex_wrap" id="books-container">
                    <!--          여기에 내용 들어감               -->
                    </ul>
                </div>
            </div>
            <div id="loading-indicator" style="display: none;">
                <h2>로딩중...</h2>
            </div>
            <div class="sec_h_wrap" id="no-more-posts" style="display: none;">
                <h2>끝입니다</h2>
            </div>
        </section>
        <!-- PAGE -->
    </th:block>
</th:block>

<script>
    $(document).ready(function() {
        let storeId = 0;
        let lastBookId = 1;
        let loading = false;
        let scrollListenerSwi = true;


        function loadMorePosts() {

            if (loading) {
                return;
            }

            loading = true;

            // 로딩 표시
            $('#no-more-posts').hide();
            $('#loading-indicator').show();

            $.ajax({
                url: '/tenBook/' + storeId + '/' + lastBookId,
                type: 'GET',
                dataType:'json',
                success: function(result) {
                    if (result.length > 0) {
                        // 게시물 목록 추가
                        for (let i = 0; i < result.length; i++) {
                            let book = result[i];
                            let bookHtml =
                                '<li>' +
                                '<div onclick="location.href=\'/book/' + book.bookId + '\'" class="item_img_wrap">' +
                                '<img src="/images/' + book.bookImgStored + '" alt="">' +
                                '</div>' +
                                '<p>' + book.bookTitle + '</p>' +
                                '<span>' +
                                '<span>' + book.bookWriter + '</span>' +
                                '<span>' + book.bookPub + '</span>' +
                                '</span>' +
                                '</li>';
                            $('#books-container').append(bookHtml);
                        }

                        lastBookId = result[9].bookId + 1;
                        // lastBookId = lastBookId + 10;
                    } else {
                        console.log("전부 로딩됨")
                        // 더 이상 로드할 게시물이 없음
                        $('#loading-indicator').hide();
                        $('#no-more-posts').show();
                        loading = false;
                        scrollListenerSwi = false;
                    }
                    loading = false;
                },
                error: function(error) {
                    console.error('Error loading posts:', error);
                    loading = false;
                }
            });
        }
        loadMorePosts()
        window.addEventListener('scroll', function(event){
            if(scrollListenerSwi !== true){
                event.preventDefault();
                return
            }
            // 현재 스크롤 위치
            var scrollTop = $(window).scrollTop();
            var documentHeight = $('#item_list').height();
            var documentTotal = $(document).height();
            var windowHeight = $(window).height();
            if(scrollTop + windowHeight >= documentHeight + 600){
                console.log("스크롤 감지됨")
                console.log(lastBookId)
                console.log(documentTotal)
                console.log(scrollTop)
                console.log(documentHeight)
                console.log(windowHeight)
                loadMorePosts()
            }
        })
    })
</script>
</html>