<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{frontend/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">
        <!-- PAGE -->
        <section class="section_wrap sec_01">
            <div class="st_search_bar">
                <div class="search_bar_body">
                    <div>
                        <button class="blackfl_btn">전체</button>
                        <button class="blackLine_btn">국내도서</button>
                        <button class="blackLine_btn">인문</button>
                    </div>
                    <div class="top_search_area">
                        <input type="text" placeholder="검색어를 입력해주세요." />
                        <button class="blackfl_btn">검색</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="section_wrap">
            <div class="section_wrap_pagebody list_body">
                <div class="sec_h_wrap">
                    <h2>1984에서만 확인가능한 도서목록을 확인해보세요.</h2>
                </div>
                <div class="item_list_wrap">
                    <ul class="flex_start flex_wrap">
                        <li>
                            <div class="item_img_wrap" style="background-image: url('https://image.yes24.com/goods/117014614/XL')"></div>
                            <p>위험을 향해 달리다</p>
                            <span>
                                <span>이제하</span>
                                지음 /
                                <span>샘터사</span>
                            </span>
                        </li>
                        <li>
                            <div class="item_img_wrap" style="background-image: url('https://image.yes24.com/goods/117014616/XL')"></div>
                            <p>위험을 향해 달리다</p>
                            <span>
                                <span>이제하</span>
                                지음 /
                                <span>샘터사</span>
                            </span>
                        </li>
                        <li>
                            <div class="item_img_wrap" style="background-image: url('https://image.yes24.com/goods/117014615/XL')"></div>
                            <p>위험을 향해 달리다</p>
                            <span>
                                <span>이제하</span>
                                지음 /
                                <span>샘터사</span>
                            </span>
                        </li>
                        <li>
                            <div class="item_img_wrap" style="background-image: url('https://image.yes24.com/goods/117014613/XL')"></div>
                            <p>위험을 향해 달리다</p>
                            <span>
                                <span>이제하</span>
                                지음 /
                                <span>샘터사</span>
                            </span>
                        </li>
                        <li>
                            <div class="item_img_wrap" style="background-image: url('https://image.yes24.com/goods/117014611/XL')"></div>
                            <p>위험을 향해 달리다</p>
                            <span>
                                <span>이제하</span>
                                지음 /
                                <span>샘터사</span>
                            </span>
                        </li>
                        <li>
                            <div class="item_img_wrap" style="background-image: url('https://image.yes24.com/goods/117014611/XL')"></div>
                            <p>위험을 향해 달리다</p>
                            <span>
                                <span>이제하</span>
                                지음 /
                                <span>샘터사</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- PAGE -->
    </th:block>
</th:block>
<script></script>
</html>