<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{frontend/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">

        <!-- PAGE -->

        <!-- 배너 -->
        <section class="section_wrap sec_01">
            <div class="section_wrap_body">
<!--                <div class="sec_01_textarea">-->
<!--                    <h3>독립서점 하이라이트</h3>-->
<!--                    <p>한눈에 보는 라이징 서점 나만 알고 싶은 독립서점을 구독해보세요.</p>-->
<!--                </div>-->
                <div class="sec_01_bannerarea">
                    <ul>
                        <li th:each="banner : ${BannerList}">
                            <div class="banner_li_wrap">
                                <div class="banner_textarea">
                                    <h3 th:text="${banner.bannerTitle}">배너 테스트입니둥</h3>
                                    <p th:text="${banner.bannerDetail}">배너 테스트!설명글!</p>
                                </div>
                                <div class="banner_imgarea" th:style="'background-image: url(\'/images/' + @{${banner.bannerImgStored}} + '\');'">
                                    <a th:href="${banner.bannerLink}"></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- 상품리스트 -->
        <section class="section_wrap">
            <div class="section_wrap_pagebody">
                <div class="sec_h_wrap flex_between">
                    <h2 class="blackLine_btn">1984의 추천 도서</h2>
                    <button class="black_btn" th:onclick="'window.location = ' + '\'' + '/bookList' + '\''">더보기</button>
                </div>
                <div class="item_list_wrap">
                    <ul class="flex_start">
                        <li>
                            <div class="item_img_wrap"
                                 th:style="'background-image: url(\'/images/' + @{${DisplayList.mainBook01.bookImgStored}} + '\');'"
                                 th:onclick="'window.location = \'/book/' + ${DisplayList.mainBook01.bookId} + '\''">
                            </div>
                            <p th:text="${DisplayList.mainBook01.bookTitle}">위험을 향해 달리다</p>
                            <span>
                                <span th:text="${DisplayList.mainBook01.bookWriter}">이제하</span>
                                지음 /
                                <span th:text="${DisplayList.mainBook01.bookPub}">샘터사</span>
                            </span>
                        </li>
                        <li>
                            <div class="item_img_wrap"
                                 th:style="'background-image: url(\'/images/' + @{${DisplayList.mainBook02.bookImgStored}} + '\');'"
                                 th:onclick="'window.location = \'/book/' + ${DisplayList.mainBook02.bookId} + '\''">
                            </div>
                            <p th:text="${DisplayList.mainBook02.bookTitle}">위험을 향해 달리다</p>
                            <span>
                                <span th:text="${DisplayList.mainBook02.bookWriter}">이제하</span>
                                지음 /
                                <span th:text="${DisplayList.mainBook02.bookPub}">샘터사</span>
                            </span>
                        </li>
                        <li>
                            <div class="item_img_wrap"
                                 th:style="'background-image: url(\'/images/' + @{${DisplayList.mainBook03.bookImgStored}} + '\');'"
                                 th:onclick="'window.location = \'/book/' + ${DisplayList.mainBook03.bookId} + '\''">
                            </div>
                            <p th:text="${DisplayList.mainBook03.bookTitle}">위험을 향해 달리다</p>
                            <span>
                                <span th:text="${DisplayList.mainBook03.bookWriter}">이제하</span>
                                지음 /
                                <span th:text="${DisplayList.mainBook03.bookPub}">샘터사</span>
                            </span>
                        </li>
                        <li>
                            <div class="item_img_wrap"
                                 th:style="'background-image: url(\'/images/' + @{${DisplayList.mainBook04.bookImgStored}} + '\');'"
                                 th:onclick="'window.location = \'/book/' + ${DisplayList.mainBook04.bookId} + '\''">
                            </div>
                            <p th:text="${DisplayList.mainBook04.bookTitle}">위험을 향해 달리다</p>
                            <span>
                                <span th:text="${DisplayList.mainBook04.bookWriter}">이제하</span>
                                지음 /
                                <span th:text="${DisplayList.mainBook04.bookPub}">샘터사</span>
                            </span>
                        </li>
                        <li>
                            <div class="item_img_wrap"
                                 th:style="'background-image: url(\'/images/' + @{${DisplayList.mainBook05.bookImgStored}} + '\');'"
                                 th:onclick="'window.location = \'/book/' + ${DisplayList.mainBook05.bookId} + '\''">
                            </div>
                            <p th:text="${DisplayList.mainBook05.bookTitle}">위험을 향해 달리다</p>
                            <span>
                                <span th:text="${DisplayList.mainBook05.bookWriter}">이제하</span>
                                지음 /
                                <span th:text="${DisplayList.mainBook05.bookPub}">샘터사</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- 추천카테고리 섹션 -->
        <section class="section_wrap sec_back_grey">
            <div class="section_wrap_pagebody last-section">
                <div class="sec_h_wrap flex_between">
                    <h2 class="main-h2">카테고리별 추천도서</h2>
                </div>
                <div class="main_cate_wrap">
                    <ul class="flex_between">
                        <li>
                            <div class="cate_img_wrap"
                                     style="background-image: url('https://images.pexels.com/photos/6798601/pexels-photo-6798601.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')"
                            ></div>
                            <h3>#인문</h3>
                            <hr />
                            <div th:each="bookCa01 : ${BookCA01}">
                                <div class="cate_item flex_between" th:onclick="'window.location = \'/book/' + ${bookCa01.bookId} + '\''">
                                    <div class="cate_img_body"
                                         th:style="'background-image: url(\'/images/' + @{${bookCa01.bookImgStored}} + '\');'">
                                </div>
                                    <div class="cate_store_table">
                                        <p th:text="${bookCa01.bookTitle}">호랑나비</p>
                                        <span>
                                            <span th:text="${bookCa01.bookWriter}">김흥국</span> / <span th:text="${bookCa01.bookPub}">호랑수월출판사</span>
                                        </span>
                                    </div>
                                    <div class="cate_store_table02">
                                        <span th:text="${bookCa01.store.storeTitle}">아트몰링</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div
                                    class="cate_img_wrap"
                                    style="background-image: url('https://images.pexels.com/photos/4738009/pexels-photo-4738009.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')"
                            ></div>
                            <h3>#예술</h3>
                            <hr />
                            <div th:each="bookCa02 : ${BookCA02}">
                                <div class="cate_item flex_between" th:onclick="'window.location = \'/book/' + ${bookCa02.bookId} + '\''">
                                    <div class="cate_img_body"
                                         th:style="'background-image: url(\'/images/' + @{${bookCa02.bookImgStored}} + '\');'">
                                    </div>
                                    <div class="cate_store_table">
                                        <p th:text="${bookCa02.bookTitle}">호랑나비</p>
                                        <span>
                                            <span th:text="${bookCa02.bookWriter}">김흥국</span> / <span th:text="${bookCa02.bookPub}">호랑수월출판사</span>
                                        </span>
                                    </div>
                                    <div class="cate_store_table02">
                                        <span th:text="${bookCa02.store.storeTitle}">아트몰링</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div
                                    class="cate_img_wrap"
                                    style="background-image: url('https://images.pexels.com/photos/17888754/pexels-photo-17888754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')"
                            ></div>
                            <h3>#여행</h3>
                            <hr />
                            <div th:each="bookCa03 : ${BookCA03}">
                                <div class="cate_item flex_between" th:onclick="'window.location = \'/book/' + ${bookCa03.bookId} + '\''">
                                    <div class="cate_img_body"
                                         th:style="'background-image: url(\'/images/' + @{${bookCa03.bookImgStored}} + '\');'">
                                    </div>
                                    <div class="cate_store_table">
                                        <p th:text="${bookCa03.bookTitle}">호랑나비</p>
                                        <span>
                                            <span th:text="${bookCa03.bookWriter}">김흥국</span> / <span th:text="${bookCa03.bookPub}">호랑수월출판사</span>
                                        </span>
                                    </div>
                                    <div class="cate_store_table02">
                                        <span th:text="${bookCa03.store.storeTitle}">아트몰링</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- 서점 리스트 -->
        <section class="section_wrap">
            <div class="section_wrap_pagebody">
                <div class="sec_h_wrap flex_between">
                    <h2 class="blackLine_btn">1984의 추천 서점</h2>
                    <button class="black_btn" th:onclick="'window.location = ' + '\'' + '/storeList' + '\''">더보기</button>
                </div>
                <div class="item_list_wrap">
                    <ul class="flex_start">
                        <li>
                            <div class="store_img_wrap"
                                 th:style="'background-image: url(\'/images/' + @{${DisplayList.mainStore01.StoreImageStored}} + '\');'"
                                 th:onclick="'window.location = \'/store/' + ${DisplayList.mainStore01.storeId} + '\''">
                            </div>
                            <p th:text="${DisplayList.mainStore01.storeTitle}">코뿔소책방</p>
                            <span th:text="${DisplayList.mainStore01.storeAddress}"> 서울시 마포구 성지1길 30 지하1층 </span>
                        </li>
                        <li>
                            <div class="store_img_wrap"
                                 th:style="'background-image: url(\'/images/' + @{${DisplayList.mainStore02.StoreImageStored}} + '\');'"
                                 th:onclick="'window.location = \'/store/' + ${DisplayList.mainStore02.storeId} + '\''">
                            </div>
                            <p th:text="${DisplayList.mainStore02.storeTitle}">코뿔소책방</p>
                            <span th:text="${DisplayList.mainStore02.storeAddress}"> 서울시 마포구 성지1길 30 지하1층 </span>
                        </li>
                        <li>
                            <div class="store_img_wrap"
                                 th:style="'background-image: url(\'/images/' + @{${DisplayList.mainStore03.StoreImageStored}} + '\');'"
                                 th:onclick="'window.location = \'/store/' + ${DisplayList.mainStore03.storeId} + '\''">
                            </div>
                            <p th:text="${DisplayList.mainStore03.storeTitle}">코뿔소책방</p>
                            <span th:text="${DisplayList.mainStore03.storeAddress}"> 서울시 마포구 성지1길 30 지하1층 </span>
                        </li>
                        <li>
                            <div class="store_img_wrap"
                                 th:style="'background-image: url(\'/images/' + @{${DisplayList.mainStore04.StoreImageStored}} + '\');'"
                                 th:onclick="'window.location = \'/store/' + ${DisplayList.mainStore04.storeId} + '\''">
                            </div>
                            <p th:text="${DisplayList.mainStore04.storeTitle}">코뿔소책방</p>
                            <span th:text="${DisplayList.mainStore04.storeAddress}"> 서울시 마포구 성지1길 30 지하1층 </span>
                        </li>
                        <li>
                            <div class="store_img_wrap"
                                 th:style="'background-image: url(\'/images/' + @{${DisplayList.mainStore05.StoreImageStored}} + '\');'"
                                 th:onclick="'window.location = \'/store/' + ${DisplayList.mainStore05.storeId} + '\''">
                            </div>
                            <p th:text="${DisplayList.mainStore05.storeTitle}">코뿔소책방</p>
                            <span th:text="${DisplayList.mainStore05.storeAddress}"> 서울시 마포구 성지1길 30 지하1층 </span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- 구독시스탬 섹션 -->
        <section class="section_wrap sec_back_grey">
            <div class="section_wrap_pagebody last-section">
                <div class="sec_h_wrap flex_between">
                    <h2 class="main-h2">1984의 구독시스템</h2>
                </div>
                <div class="main_cate_wrap">
                    <ul class="flex_between">
                        <li>
                            <div
                                    class="cate_img_wrap"
                                    style="background-image: url('https://images.pexels.com/photos/373465/pexels-photo-373465.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')"
                            ></div>
                            <h3>국내 최초 독립서점 <br />구독 서비스 🔥</h3>
                            <hr />
                            <div class="cate_item">
                                <p>당신을 기다리는 700곳의 <br />다양한 개성을 가진 <br />독립서점을 구독해보세요.</p>
                            </div>
                        </li>
                        <li>
                            <div
                                    class="cate_img_wrap"
                                    style="background-image: url('https://images.pexels.com/photos/196649/pexels-photo-196649.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')"
                            ></div>
                            <h3>원하는 기기로<br />자유롭게 감상🧑🏻‍💻</h3>
                            <hr />
                            <div class="cate_item">
                                <p>수도권에만 집중되어있는<br />독립서점들을 어디서나 <br />전자책으로 만나볼 수 있습니다.</p>
                            </div>
                        </li>
                        <li>
                            <div
                                    class="cate_img_wrap"
                                    style="background-image: url('https://images.pexels.com/photos/2144299/pexels-photo-2144299.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')"
                            ></div>
                            <h3>첫 구독은 무료로 <br />무제한 열람가능 🚀</h3>
                            <hr />
                            <div class="cate_item">
                                <p>처음으로 구독하신<br />독립서점은 30일간 <br />무제한으로 이용이 가능합니다.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- 소개글 -->
        <section class="section_wrap">
            <div class="section_wrap_pagebody flex_between last-section">
                <div class="sec03_img_wrap"></div>
                <div class="sec03_text_wrap">
                    <p><span class="point_text">"1984"</span>가 생각하는 독립서점이란 단순히 출판물을 판매하는 것이 아닌 사람들 간의 삶과 생각을 남기는 가치 있는 문화라고 생각합니다.</p>
                    <button class="point_btn" th:onclick="'window.location = ' + '\'' + '/about' + '\''">방문하기</button>
                </div>
            </div>
        </section>
        <!-- PAGE -->

    </th:block>
</th:block>
<script>
    $(document).ready(function() {
        let banners = $('.sec_01_bannerarea ul li');
        let current = 0;
        banners.eq(current).addClass('active');

        function slideShow() {
            banners.eq(current).removeClass('active');
            current = (current + 1) % banners.length;
            banners.eq(current).addClass('active');
        }

        setInterval(slideShow, 2400);
    });
</script>
</html>