<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{frontend/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">

        <!-- PAGE -->

        <!-- 배너 -->
        <section class="section_wrap sec_01">
            <div class="section_wrap_body">
<!--                <div class="sec_01_textarea">-->
<!--                    <h3>독립서점 하이라이트</h3>-->
<!--                    <p>한눈에 보는 라이징 서점 나만 알고 싶은 독립서점을 구독해보세요.</p>-->
<!--                </div>-->
                <div class="sec_01_bannerarea">
                    <ul>
                        <li class="active">
                            <div class="banner_li_wrap">
                                <div class="banner_textarea">
                                    <h3>배너 테스트입니둥</h3>
                                    <p>배너 테스트!설명글!</p>
                                </div>
                                <div class="banner_imgarea" style="background-image: url('https://img.animalplanet.co.kr/news/2019/08/26/700/114915182ls057ora0n5.jpg');">
                                    <a href=""></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner_li_wrap">
                                <div class="banner_textarea">
                                    <h3>배너 테스트입니다람쥐</h3>
                                    <p>배너 테스트!설명글입니다람쥐</p>
                                </div>
                                    <div class="banner_imgarea" style="background-image: url('https://img1.daumcdn.net/thumb/R720x0.q80/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F216BC7505885D14B40');">
                                        <a href=""></a>
                                    </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner_li_wrap">
                                <div class="banner_textarea">
                                    <h3>배너 테스트입니다다다다다다다다다다다</h3>
                                    <p>배너 테스트! 다람쥐 설명글입니 다람쥐</p>
                                </div>
                                    <div class="banner_imgarea" style="background-image: url('https://img.animalplanet.co.kr/news/2019/08/26/700/114915182ls057ora0n5.jpg');">
                                        <a href=""></a>
                                    </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- 상품리스트 -->
        <section class="section_wrap">
            <div class="section_wrap_pagebody">
                <div class="sec_h_wrap flex_between">
                    <h2 class="blackLine_btn">1984의 추천 도서</h2>
                    <button class="black_btn">더보기</button>
                </div>
                <div class="item_list_wrap">
                    <ul class="flex_start">
                        <li>
                            <div class="item_img_wrap" style="background-image: url('https://image.yes24.com/goods/117014614/XL')"></div>
                            <p>위험을 향해 달리다</p>
                            <span>
                                <span>이제하</span>
                                지음 /
                                <span>샘터사</span>
                            </span>
                        </li>
                        <li>
                            <div class="item_img_wrap" style="background-image: url('https://image.yes24.com/goods/117014616/XL')"></div>
                            <p>위험을 향해 달리다</p>
                            <span>
                                <span>이제하</span>
                                지음 /
                                <span>샘터사</span>
                            </span>
                        </li>
                        <li>
                            <div class="item_img_wrap" style="background-image: url('https://image.yes24.com/goods/117014615/XL')"></div>
                            <p>위험을 향해 달리다</p>
                            <span>
                                <span>이제하</span>
                                지음 /
                                <span>샘터사</span>
                            </span>
                        </li>
                        <li>
                            <div class="item_img_wrap" style="background-image: url('https://image.yes24.com/goods/117014613/XL')"></div>
                            <p>위험을 향해 달리다</p>
                            <span>
                                <span>이제하</span>
                                지음 /
                                <span>샘터사</span>
                            </span>
                        </li>
                        <li>
                            <div class="item_img_wrap" style="background-image: url('https://image.yes24.com/goods/117014611/XL')"></div>
                            <p>위험을 향해 달리다</p>
                            <span>
                                <span>이제하</span>
                                지음 /
                                <span>샘터사</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- 추천카테고리 섹션 -->
        <section class="section_wrap sec_back_grey">
            <div class="section_wrap_pagebody last-section">
                <div class="sec_h_wrap flex_between">
                    <h2 class="main-h2">카테고리별 추천도서</h2>
                </div>
                <div class="main_cate_wrap">
                    <ul class="flex_between">
                        <li>
                            <a href="">
                                <div
                                        class="cate_img_wrap"
                                        style="background-image: url('https://images.pexels.com/photos/6798601/pexels-photo-6798601.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')"
                                ></div>
                                <h3>#인문</h3>
                                <hr />
                                <div class="cate_item flex_between">
                                    <div class="cate_img_body" style="background-image: url('https://image.yes24.com/goods/117014611/XL')"></div>
                                    <div class="cate_store_table">
                                        <p>호랑나비</p>
                                        <span><span>김흥국</span> / <span>호랑수월출판사</span></span>
                                    </div>
                                    <div class="cate_store_table02">
                                        <span>아트몰링</span>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="cate_item flex_between">
                                    <div class="cate_img_body" style="background-image: url('https://image.yes24.com/goods/117014615/XL')"></div>
                                    <div class="cate_store_table">
                                        <p>호랑나비</p>
                                        <span><span>김흥국</span> / <span>호랑수월출판사</span></span>
                                    </div>
                                    <div class="cate_store_table02">
                                        <span>아트몰링</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div
                                        class="cate_img_wrap"
                                        style="background-image: url('https://images.pexels.com/photos/4738009/pexels-photo-4738009.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')"
                                ></div>
                                <h3>#예술</h3>
                                <hr />
                                <div class="cate_item flex_between">
                                    <div class="cate_img_body" style="background-image: url('https://image.yes24.com/goods/117014612/XL')"></div>
                                    <div class="cate_store_table">
                                        <p>호랑나비</p>
                                        <span><span>김흥국</span> / <span>호랑수월출판사</span></span>
                                    </div>
                                    <div class="cate_store_table02">
                                        <span>아트몰링</span>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="cate_item flex_between">
                                    <div class="cate_img_body" style="background-image: url('https://image.yes24.com/goods/117014613/XL')"></div>
                                    <div class="cate_store_table">
                                        <p>호랑나비</p>
                                        <span><span>김흥국</span> / <span>호랑수월출판사</span></span>
                                    </div>
                                    <div class="cate_store_table02">
                                        <span>아트몰링</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div
                                        class="cate_img_wrap"
                                        style="background-image: url('https://images.pexels.com/photos/17888754/pexels-photo-17888754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')"
                                ></div>
                                <h3>#여행</h3>
                                <hr />
                                <div class="cate_item flex_between">
                                    <div class="cate_img_body" style="background-image: url('https://image.yes24.com/goods/117014603/XL')"></div>
                                    <div class="cate_store_table">
                                        <p>호랑나비</p>
                                        <span><span>김흥국</span> / <span>호랑수월출판사</span></span>
                                    </div>
                                    <div class="cate_store_table02">
                                        <span>아트몰링</span>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="cate_item flex_between">
                                    <div class="cate_img_body" style="background-image: url('https://image.yes24.com/goods/117014604/XL')"></div>
                                    <div class="cate_store_table">
                                        <p>호랑나비</p>
                                        <span><span>김흥국</span> / <span>호랑수월출판사</span></span>
                                    </div>
                                    <div class="cate_store_table02">
                                        <span>아트몰링</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- 서점 리스트 -->
        <section class="section_wrap">
            <div class="section_wrap_pagebody">
                <div class="sec_h_wrap flex_between">
                    <h2 class="blackLine_btn">1984의 추천 서점</h2>
                    <button class="black_btn">더보기</button>
                </div>
                <div class="item_list_wrap">
                    <ul class="flex_start">
                        <li>
                            <div class="store_img_wrap" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9bY3AnrGmhqOE1t3nfJjHKbw_vb_ZmKIJu-0EHsjNMg&s')"></div>
                            <p>코뿔소책방</p>
                            <span> 서울시 마포구 성지1길 30 지하1층 </span>
                        </li>
                        <li>
                            <div class="store_img_wrap" style="background-image: url('https://img.ctykit.com/cdn/co-boulder/images/tr:w-1800/bookstore_storefront_2015.jpg')"></div>
                            <p>코뿔소책방</p>
                            <span> 서울시 마포구 성지1길 30 지하1층 </span>
                        </li>
                        <li>
                            <div
                                    class="store_img_wrap"
                                    style="background-image: url('https://media.architecturaldigest.com/photos/5cf945fce56e2a6bd5dac7aa/16:9/w_2240,c_limit/ladder%20hall00002.jpg')"
                            ></div>
                            <p>코뿔소책방</p>
                            <span> 서울시 마포구 성지1길 30 지하1층 </span>
                        </li>
                        <li>
                            <div class="store_img_wrap" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9bY3AnrGmhqOE1t3nfJjHKbw_vb_ZmKIJu-0EHsjNMg&s')"></div>
                            <p>코뿔소책방</p>
                            <span> 서울시 마포구 성지1길 30 지하1층 </span>
                        </li>
                        <li>
                            <div class="store_img_wrap" style="background-image: url('https://img.ctykit.com/cdn/co-boulder/images/tr:w-1800/bookstore_storefront_2015.jpg')"></div>
                            <p>코뿔소책방</p>
                            <span> 서울시 마포구 성지1길 30 지하1층 </span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- 구독시스탬 섹션 -->
        <section class="section_wrap sec_back_grey">
            <div class="section_wrap_pagebody last-section">
                <div class="sec_h_wrap flex_between">
                    <h2 class="main-h2">1984의 구독시스템</h2>
                </div>
                <div class="main_cate_wrap">
                    <ul class="flex_between">
                        <li>
                            <div
                                    class="cate_img_wrap"
                                    style="background-image: url('https://images.pexels.com/photos/373465/pexels-photo-373465.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')"
                            ></div>
                            <h3>국내 최초 독립서점 <br />구독 서비스 🔥</h3>
                            <hr />
                            <div class="cate_item">
                                <p>당신을 기다리는 700곳의 <br />다양한 개성을 가진 <br />독립서점을 구독해보세요.</p>
                            </div>
                        </li>
                        <li>
                            <div
                                    class="cate_img_wrap"
                                    style="background-image: url('https://images.pexels.com/photos/196649/pexels-photo-196649.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')"
                            ></div>
                            <h3>원하는 기기로<br />자유롭게 감상🧑🏻‍💻</h3>
                            <hr />
                            <div class="cate_item">
                                <p>수도권에만 집중되어있는<br />독립서점들을 어디서나 <br />전자책으로 만나볼 수 있습니다.</p>
                            </div>
                        </li>
                        <li>
                            <div
                                    class="cate_img_wrap"
                                    style="background-image: url('https://images.pexels.com/photos/2144299/pexels-photo-2144299.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')"
                            ></div>
                            <h3>첫 구독은 무료로 <br />무제한 열람가능 🚀</h3>
                            <hr />
                            <div class="cate_item">
                                <p>처음으로 구독하신<br />독립서점은 30일간 <br />무제한으로 이용이 가능합니다.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- 소개글 -->
        <section class="section_wrap">
            <div class="section_wrap_pagebody flex_between last-section">
                <div class="sec03_img_wrap"></div>
                <div class="sec03_text_wrap">
                    <p><span class="point_text">"1984"</span>가 생각하는 독립서점이란 단순히 출판물을 판매하는 것이 아닌 사람들 간의 삶과 생각을 남기는 가치 있는 문화라고 생각합니다.</p>
                    <button class="point_btn">방문하기</button>
                </div>
            </div>
        </section>
        <!-- PAGE -->

    </th:block>
</th:block>
<script>
    $(document).ready(function() {
        let banners = $('.sec_01_bannerarea ul li');
        let current = 0;

        function slideShow() {
            banners.eq(current).removeClass('active');
            current = (current + 1) % banners.length;
            banners.eq(current).addClass('active');
        }

        setInterval(slideShow, 3600); // Change slide every 3 seconds
    });
</script>
</html>