<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{frontend/layouts/base :: base(~{this::content})}">
  <th:block th:fragment="content">
    <!-- PAGE -->
    <section class="section_wrap sec_01">
      <div class="st_search_bar">
        <div class="search_bar_body">
          <div class="store_location">
              <!--     버튼 색 바뀌기       -->
          </div>
          <div class="top_search_area">
            <input type="text" placeholder="검색어를 입력해주세요."/>
            <button class="blackfl_btn">검색</button>
          </div>
        </div>
      </div>
    </section>
    <section class="section_wrap">
      <div class="section_wrap_pagebody list_body">
        <div class="sec_h_wrap">
          <h2>1984와 함께하는 독립서점을 만나보세요.</h2>
        </div>
        <div class="store_list_wrap">
          <ul class="flex_start flex_wrap">

            <li th:each="store : ${storeList}">
              <div th:onclick="|location.href='@{/store/{storeId}(storeId=${store.storeId})}'|" class="store_img_wrap">
                <img th:src="|/images/${store.getStoreImageStored()}|" alt="">
              </div>
                <p><a th:text="${store.storeTitle}" th:href="@{/store/{storeId}(storeId=${store.storeId})}"></a></p>
              <span>
                <span th:text="${store.storeAddress}"></span>
              </span>

            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- PAGE -->
  </th:block>
</th:block>
<script>
  $(document).ready(function () {
    let storeLocation = $(".store_location");
    getButton("blackfl_btn", "blackLine_btn");

    function getButton(val01, val02) {
      let html = '';
      html += '<button class=' + val01 + ' id="all" type="button">전체</button>'
      html +='<button class=' + val02 +' id="seoul" type="button">서울</button>';
      storeLocation.html(html);
    }

    storeLocation.on("click", "button#all", function (e){
      getButton("blackfl_btn", "blackLine_btn")
    })

    storeLocation.on("click", "button#seoul", function (e){
      getButton("blackLine_btn", "blackfl_btn")
    })
  });

</script>
</html>