<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{frontend/layouts/baseSidemenu :: baseSidemenu(~{this::content})}">
    <th:block th:fragment="content">

        <!-- 내용 -->
        <div class="my_page_h_wrap">
            <span><span><a class="smaller" th:href="@{/myPage/bookOrderList}">도서주문</a></span> <span><a
                    th:href="@{/myPage/membershipOrderList}">구독주문</a></span></span>
        </div>
        <div class="mycart_table_wrap">
            <table class="mycart_table">
                <tr class="myTable_th_body">
                    <th>서점명</th>
                    <th>구매일자</th>
                    <th>주문번호</th>
                    <th>주문금액</th>
                    <th>종료일</th>
                </tr>
                <!-- 반복되는 구간 -->
                <tr class="myTable_td_body" th:each="list, index : ${membershipList}">
                    <td class="flex_start">
                        <div class="cart_img_body">
                            <img th:src="|/images/${list.storeImgStored}|" alt="" class="list_img"/>
                        </div>
                        <div class="cart_img_table">
                            <p th:text="*{list.storeTitle}">환상문학</p>
                            <span th:text="*{list.storeAddress}">서울시 동막로 11</span>
                        </div>
                    </td>
                    <td th:text="*{list.membershipStartDate}">2024-04-13</td>
                    <td th:text="*{list.orderMembershipId}">2024041300000</td>
                    <td><span>10,000</span>원</td>
                    <td th:text="*{list.membershipEndDate}">종료일</td>
                </tr>
            </table>
        </div>
        <!-- 추천 도서 리스트 -->
        <div class="mypage_re_bookList last-section">
            <div class="mypage_re_bookList_h2">
                <h2>1984에서 추천하는 인기도서를 둘러보세요!</h2>
            </div>
            <div class="mypage_re_List">
                <ul class="flex_start">
                    <!-- 아이템 -->
                    <li>
                        <div class="mpre_img_wrap"
                             style="background-image: url('https://image.yes24.com/goods/117014616/XL')"></div>
                        <p>호랑나비</p>
                        <span>
                                        <span>이제하</span>
                                        지음 /
                                        <span>샘터사</span>
                                    </span>
                    </li>
                    <!-- 아이템 -->
                    <li>
                        <div class="mpre_img_wrap"
                             style="background-image: url('https://image.yes24.com/goods/117014610/XL')"></div>
                        <p>호랑나비</p>
                        <span>
                                        <span>이제하</span>
                                        지음 /
                                        <span>샘터사</span>
                                    </span>
                    </li>
                    <!-- 아이템 -->
                    <li>
                        <div class="mpre_img_wrap"
                             style="background-image: url('https://image.yes24.com/goods/117014620/XL')"></div>
                        <p>호랑나비</p>
                        <span>
                                        <span>이제하</span>
                                        지음 /
                                        <span>샘터사</span>
                                    </span>
                    </li>
                    <!-- 아이템 -->
                    <li>
                        <div class="mpre_img_wrap"
                             style="background-image: url('https://image.yes24.com/goods/117014622/XL')"></div>
                        <p>호랑나비</p>
                        <span>
                                        <span>이제하</span>
                                        지음 /
                                        <span>샘터사</span>
                                    </span>
                    </li>
                </ul>
            </div>
        </div>
        </div>

    </th:block>
</th:block>

<script th:inline="javascript">
    $(document).ready(function () {
        let content = $(".mycart_table_wrap");

        function printList(response) {
            let html = '';
            html += '<table class="mycart_table">';
            html += '<tr class="myTable_th_body"><th>서점명</th><th>구매일자</th><th>주문번호</th><th>주문금액</th><th>종료일</th> </tr>';
            $.each(response.paymentMemDTO, function (index, list) {
                html += '<tr class="myTable_td_body_2"><td class="flex_start"><div class="cart_img_body_3"><img src="/images/' + list.storeImgStored + '" alt="" /></div>';
                html += '<div class="cart_img_table_2"><p>' + list.storeTitle + '</p><span>' + list.storeAddress + '</span></div></td>';
                html += '<td>' + list.membershipStartDate + '</td>';
                html += '<td><a href="/myPage/membershipOrderDetail/' + list.orderMembershipId + '">' + list.orderMembershipId + '</a></td>';
                html += '<td>' + list.price + '</td>';
                html += '<td>' + list.membershipEndDate + '</td></tr>';
            });
            html += '</table>';
            content.html(html);
        };
        $.ajax({
            type: "GET",
            url: "/myPage/membershipOrderList/ajax",
            success: function (response) {
                console.log("ajax 성공");
                console.log(response);
                printList(response);
            },
            error: function (e) {
            }
        });

        let keyword = $("#keyword").val();
        let searchType = $("#searchType").val();
        let dateOrderSelected = $("#dateOrder").val();


        $("#dateOrder").change(function () {
            dateOrderSelected = $(this).val();
            console.log(dateOrderSelected);
            $.ajax({
                type: "GET",
                url: "/cms/order/bookList/ajax",
                data: {
                    dateOrder: dateOrderSelected,
                    keyword: keyword,
                    searchType: searchType
                },
                success: function (response) {
                    console.log("요청 성공");
                    console.log(response.orderList);
                    printList(response);
                },
                error: function (e) {
                    console.error("요청 실패");
                    console.log(e);
                }
            });
        });

        $(".dateBtn").on("click", function (e) {
            let datePeriodSelected = $(this).val();
            console.log(datePeriodSelected);
            $.ajax({
                type: "GET",
                url: "/cms/order/bookList/ajax",
                data: {
                    dateOrder: dateOrderSelected,
                    keyword: keyword,
                    searchType: searchType,
                    datePeriod: datePeriodSelected
                },
                success: function (response) {
                    console.log("요청 성공");
                    console.log(response.orderList);

                    printList(response);
                },
                error: function (e) {
                    console.error("요청 실패");
                    console.log(e);
                }
            });
        });
    });

</script>
</html>