<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="base(content)">
    <!--Header-->
    <th:block th:replace="~{backend/layouts/header :: headerFrg}"></th:block>
    <body>
        <section class="page_wrap">
            <!-- 사이드바  -->
            <th:block th:replace="~{backend/layouts/sidemenu :: sidemenuFrg}"></th:block>
            <!-- 컨텐츠영역 -->
            <div class="content item">
                <div class="top_st_bar">
                    <p>USER_00</p>
                    <span>ADMIN</span>
                </div>
                <!-- 컨텐츠 -->
                <th:block th:replace="${content}"></th:block>
            </div>
        </section>


    </body>
</th:block>
</html>
