<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="headerFrg">
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>1984</title>
            <link th:href="@{/css/style_reset.css}" rel="stylesheet">
            <link th:href="@{/css/style.css}" rel="stylesheet">
            <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        </head>
    </th:block>
</html>