<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="sidemenuFrg">
        <div class="side_menu item">
            <a th:href="@{/}">
                <h1 class="side_logo"></h1>
            </a>
            <ul class="menu_wrap">
                <li class="menu_list">
                    <a th:href="@{/}">
                        <span>대시보드</span>
                        <div class="menu_arrow_icon"></div>
                    </a>
                </li>
                <li class="menu_list">
                    <a href="">
                        <span>주문관리</span>
                        <div class="menu_arrow_icon"></div>
                    </a>
                </li>
                <li class="menu_list">
                    <a href="">
                        <span>구독관리</span>
                        <div class="menu_arrow_icon"></div>
                    </a>
                </li>
                <li class="menu_list">
                    <a th:href="@{/cms/book}">
                        <span>상품관리</span>
                        <div class="menu_arrow_icon"></div>
                    </a>
                </li>
                <li class="menu_list">
                    <a href="">
                        <span>문의관리</span>
                        <div class="menu_arrow_icon"></div>
                    </a>
                </li>
                <li class="menu_list">
                    <a href="">
                        <span>리뷰관리</span>
                        <div class="menu_arrow_icon"></div>
                    </a>
                </li>
                <li class="menu_list">
                    <a href="">
                        <span>배너관리</span>
                        <div class="menu_arrow_icon"></div>
                    </a>
                </li>
                <li class="menu_list">
                    <a href="">
                        <span>전시관리</span>
                        <div class="menu_arrow_icon"></div>
                    </a>
                </li>
                <li class="menu_list">
                    <a href="">
                        <span>서점관리</span>
                        <div class="menu_arrow_icon"></div>
                    </a>
                </li>
                <li class="menu_list">
                    <a href="">
                        <span>회원관리</span>
                        <div class="menu_arrow_icon"></div>
                    </a>
                </li>
                <li class="menu_list">
                    <a href="">
                        <span>로그아웃</span>
                        <div class="menu_arrow_icon"></div>
                    </a>
                </li>
            </ul>
            <span class="signup_copyright">ⓒ 2024. 1984 All rights reserved.</span>
        </div>
    </th:block>
</html>