<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{frontend/layouts/baseSidemenu :: baseSidemenu(~{this::content})}">
<th:block th:fragment="content">
    <div class="my_page_h_wrap">
        <h2>나의 책장</h2>
    </div>
    <section class="section_wrap">
        <div class="book_wrap_pagebody">
            <div class="item_list_wrap">
                <ul class="flex_start flex_wrap">
                    <li th:each="book : ${bookList}">
                        <div class="item_img_wrap">
                            <img th:src="|/images/${book.bookImgStored}|" alt="">
                        </div>
                        <p><a th:text="${book.storeTitle}" th:href="@{/book/{bookId}(bookId=${book.bookId})}"></a></p>
                        <span>
                            <span th:text="${book.bookWriter}"></span> /
                            <span th:text="${book.bookPub}"></span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>


</th:block>
</th:block>
</html>
