<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>login</title>
        <link rel="stylesheet" href="/css/style_reset.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
    <section class="page_wrap">
        <div class="login_form item">
            <h1 class="main_logo"></h1>
            <div class="login_form_wrap">
                <p>
                    책은 문화의 <br />
                    뿌리이자 그 결과이다
                </p>
                <hr />
                <a href="signup" class="link_login">회원가입하기</a> <br/>
                <a href="login" class="link_login">로그인하기</a><br/>
            </div>
        </div>
        <div class="login_img item"></div>
    </section>
    <script>

    </script>
    </body>
</html>
