<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFrag">
    <footer>
        <div class="footer_wrap">
            <h3 class="footer_h3">(주)1984</h3>
            <div class="footer_inner_wrap">
                <span> 대표자 : 홍길동 </span>
                <span> 고객정보책임자 : 홍길동 </span>
                <span> 사업자등록번호 : 201-81-23094 </span>
                <span> 통신판매업 신고 : 중구01520호 </span>
            </div>
            <div class="footer_inner_wrap">
                <span> 주소 : 서울특별시 마포구 동교로 194(동교동, 혜원빌딩)1층 </span>
            </div>
            <hr />
            <h4 class="footer_h3">고객센터</h4>
            <div class="footer_inner_wrap">
                <span> 운영시간 : 10:00 ~ 24:00 </span>
                <span> 전화번호 : 02-325-1984 </span>
            </div>
            <div class="footer_inner_wrap">
                <span> 이메일 : RE1984@gmail.com </span>
            </div>
            <div class="footer_inner_wrap">
                <span class="footer_copy"> “1984” 서비스의 데이터와 콘텐츠의 저작권은 각 해당 저작자 또는 주식회사 1984에 있습니다. ⓒ 2024. 1984 All rights reserved. </span>
            </div>
        </div>
    </footer>
</th:block>
</html>