<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFrg">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="/icon/favicon.ico"/>
    <title>1984</title>
    <link rel="stylesheet" th:href="@{/css/style_reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/style_fo.css}"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.paymentBook-1.1.5.js"></script>
    <script src="https://unpkg.com/pdfobject"></script>
  </head>
</th:block>
</html>