<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="menuFrag">
    <!-- header -->
    <header class="header_body">
        <div class="header_wrap">
            <a th:href="@{/}"><h1 class="main_logo"></h1></a>
            <div class="menu_wrap">
                <ul class="menu_list">
                    <li><a th:href="@{/about}">1984소개</a></li>
                    <li><a th:href="@{/storelist}">독립서점</a></li>
                    <li><a th:href="@{/bookList}">도서목록</a></li>
                    <li><a th:href="@{/myPage/info}">마이페이지</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- header -->
</th:block>
</html>