<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="menuAdFrag">
    <!-- header -->
    <header class="header_body">
        <div class="header_wrap">
            <h1 class="main_logo"></h1>
            <div class="menu_wrap">
                <ul class="menu_list">
                    <li><a th:href="@{/about}">1984소개</a></li>
                    <li><a th:href="@{/storelist}">독립서점</a></li>
                    <li><a th:href="@{/booklist}">도서목록</a></li>
                    <li><a th:href="@{/myPage/info}">마이페이지</a></li>
                </ul>
            </div>
        </div>
        <a class="header_ad" href=""> ✨ 10,000원으로 30일간 <span>환상문학</span>의 모든 도서를 무제한으로 ✨ </a>
    </header>
    <!-- header -->
</th:block>
</html>