<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="sidemenu">
    <!--MYPAGE_SIDEMENU-->
    <div class="mypage_side_wrap">
        <h2>
            <span sec:authentication="principal.username"></span>
            <span>님</span>
        </h2>
        <hr />
        <ul>
            <li><a th:href="@{/myPage/info}">회원정보</a></li>
            <li><a th:href="@{/myPage/myBook}">나의책장</a></li>
            <li><a th:href="@{/myPage/myStore}">나의서점</a></li>
            <li><a th:href="@{/cart/list}">장바구니</a></li>
            <li><a th:href="@{/myPage/bookOrderList}">구매내역</a></li>
            <li><a th:href="@{/}">문의내역</a></li>
        </ul>
        <form th:action="@{/logout}" method="post">
            <button class="btn_login" type="submit">로그아웃</button>
        </form>
    </div>
    <div class="mypage_content_wrap">
        <!-- 상태바 -->
        <div class="mypage_status_bar flex_between">
            <div class="mp_stBar_lb">
                <a href="" class="flex_between">
<!--                    TODO 수 불러오기-->
                    <span>구매도서</span>
                    <span>999,999</span>
                </a>
            </div>
            <div class="mp_stBar_lb">
                <a href="" class="flex_between">
                    <span>구독서점</span>
                    <span>999,999</span>
                </a>
            </div>
            <div>
                <a href="" class="flex_between">
                    <span>문의</span>
                    <span>999,999</span>
                </a>
            </div>
        </div>
</th:block>
</html>