<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="sidemenu">
    <!--MYPAGE_SIDEMENU-->
    <div class="mypage_side_wrap">
        <h2>
            <span sec:authentication="principal.username">유호선</span>
            <span>님</span>
        </h2>
        <h3>hohosun2</h3>
        <hr />
        <ul>
            <li><a th:href="@{/}">회원정보</a></li>
            <li><a th:href="@{/}">나의책장</a></li>
            <li><a th:href="@{/cart/list}">장바구니</a></li>
            <li><a th:href="@{/myPage/bookOrderList}">구매내역</a></li>
            <li><a th:href="@{/}">문의하기</a></li>
            <li><a th:href="@{/}">로그아웃</a></li>
        </ul>
    </div>
    <div class="mypage_content_wrap">
        <!-- 상태바 -->
        <div class="mypage_status_bar flex_between">
            <div class="mp_stBar_lb">
                <a href="" class="flex_between">
                    <span>구매도서</span>
                    <span>999,999</span>
                </a>
            </div>
            <div class="mp_stBar_lb">
                <a href="" class="flex_between">
                    <span>구독서점</span>
                    <span>999,999</span>
                </a>
            </div>
            <div>
                <a href="" class="flex_between">
                    <span>문의</span>
                    <span>999,999</span>
                </a>
            </div>
        </div>
</th:block>
</html>