<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:replace="~{backend/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">
        <div class="search_bar_wrap">
            <form action="" th:action th:object="${bookCategory}" method="post">
            <div class="search_date_wrap">
                <div class="item">
                    <h2>카테고리 수정</h2>
                </div>
                <div class="item">
                    <button th:onclick="history.go(-1)" class="grey_btn">취소</button>
                    <button type="submit" class="black_btn">저장</button>
                </div>
            </div>
            <div class="add_form_wrap">
                <div class="add_input_wrap" style="display:none;">
                    <p>카테고리아이디</p>
                    <input type="text" th:field="*{bookCategoryId}" id="bookCategoryId" readonly>
                </div>
                <div class="add_input_wrap">
                    <p>카테고리명</p>
                    <input type="text" th:field="*{bookCategoryName}" id="bookCategoryName">
                </div>
                <div class="add_input_wrap">
                    <p>수정일</p>
                    <input type="text" th:field="*{lastModifiedDate}" id="lastModifiedDate" readonly>
                </div>
                <div class="add_input_wrap">
                    <p>등록일</p>
                    <input type="text" th:field="*{createDate}" id="createDate" readonly>
                </div>
                <div class="add_checkbox_wrap">
                    <p>활성화</p>
                    <input type="radio" name="status" value="ON">활성화
                    <input type="radio" name="status" value="OFF">비활성화
                </div>
            </div>
            </form>
        </div>
    </th:block>
</th:block>
</body>
</html>