<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="/css/style_reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<section class="page_wrap">
    <div class="login_form item">
        <h1 class="main_logo"></h1>
        <form action="" th:action th:object="${memberForm}" method="post">
            <div class="login_form_wrap">
                <p>
                    책은 문화의 <br />
                    뿌리이자 그 결과이다
                </p>
                <hr />
                <h2>회원가입</h2>
                <div class="input_form">
                    <span>아이디</span>
                    <input type="text" placeholder="아이디를 입력해주세요." th:field="*{userId}"/>
                    <span></span>
                </div>
                <div class="input_form">
                    <span>비밀번호</span>
                    <input type="password" placeholder="비밀번호를 입력해주세요." th:field="*{userPassword}"/>
                    <span></span>
                </div>
                <div class="input_form">
                    <span>비밀번호 확인</span>
                    <input type="password" placeholder="비밀번호를 입력해주세요." />
                    <span></span>
                </div>
                <br />
                <div class="input_form">
                    <span>이름</span>
                    <input type="text" placeholder="이름을 입력해주세요." th:field="*{userName}"/>
                    <span></span>
                </div>
                <div class="input_form">
                    <span>이메일</span>
                    <input type="text" placeholder="이메일을 입력해주세요." th:field="*{userEmail}"/>
                    <span></span>
                </div>
                <div class="input_form">
                    <span>연락처</span>
                    <input type="text" placeholder="연락처를 입력해주세요." th:field="*{userPhoneNum}"/>
                    <span></span>
                </div>
                <button class="btn_login" type="submit">회원가입</button>
                <a href="" class="link_login">로그인 하러가기</a>
                <span class="signup_copyright">ⓒ 2024. 1984 All rights reserved.</span>
            </div>
        </form>
    </div>
    <div class="login_img item"></div>
</section>
<script>

</script>
</body>
</html>
